body {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  text-align: center;
  font-family: Monospace;
  font-size: 22px;
}

button {
  display: block;
  width: 100%;
  border: none;
  background-color: #0058ff;
  padding: 14px 28px;
  font-size: 20px;
  color: aliceblue;
  font-family: Monospace;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}
